:root {
  --main-black: #0c1f38;
  --main-orange: #e65401;
  --main-yellow: #fef200;
  --main-blue: #a7e0d7;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-top: 2rem;
  background-color: white;
}

.insta {
  margin-left: 1rem;
}

.nav-right-flex {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-left: auto;
  margin-right: 1rem;
}

.navbar-container i {
  line-height: 2.2rem;
}

.navbar-container a:hover,
.navbar-container a:focus {
  color: var(--main-orange);
}

.main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem;
}

.gallery-div {
  display: flex;
}

.webcam-div {
  display: flex;
}

.add-images-div {
  display: flex;
}

.webcam-button-flex {
  display: flex;
  flex-direction: column;
}

video {
  object-fit: contain;
}

video[poster] {
  width: 650px;
  height: 650px;
}

.webcam-footer-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
