/* default */

:root {
  --main-black: #0c1f38;
  --main-orange: #e65401;
  --main-yellow: #fef200;
  --main-blue: #a7e0d7;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-top: 2rem;
  background-color: white;
}

.insta {
  margin-left: 1rem;
}

.nav-right-flex {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-left: auto;
  margin-right: 1rem;
}

.navbar-container i {
  line-height: 2.2rem;
}

.navbar-container a:hover,
.navbar-container a:focus {
  color: var(--main-orange);
}

/************/

.main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem;
}

/* gallery */

.gallery-side {
  display: flex;
  flex-direction: column;
  width: calc(9.375rem * 2 + 4rem);
}

.gallery-header {
  margin: auto;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}

.gallery-img {
  width: 9.375rem;
  height: 9.375rem;
  margin: 1rem;
}

/* webcam */

.webcam-div {
  display: flex;
  width: 40.625rem;
}

.webcam-flex {
  display: flex;
  flex-direction: column;
}

video {
  object-fit: contain;
  border: 2px solid var(--main-black);
  background-color: white;
}

video[poster] {
  width: 40.625rem;
  height: 40.625rem;
}

.webcam-footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.webcam-footer button {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--main-orange);
  background-color: transparent;
  color: var(--main-orange);
  font-weight: 700;
  font-size: 1rem;
}

.webcam-footer button:focus,
.webcam-footer button:hover {
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
}

.webcam-footer-buttons-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.save-picture-button {
  margin-top: 1rem;
  text-align: center;
}
/* image edit */

.add-images-div {
  display: flex;
}
