:root {
  --main-black: #0c1f38;
  --main-orange: #e65401;
  --main-yellow: #fef200;
  --main-blue: #a7e0d7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: var(--main-black);
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.background-left {
  background-color: var(--main-yellow);
  position: absolute;
  width: 800px;
  height: 1280px;
  z-index: -1;
  rotate: -15deg;
  top: -160px;
  left: -160px;
}

.background-right {
  background-color: var(--main-blue);
  position: absolute;
  width: 1280px;
  height: 1280px;
  z-index: -2;
  rotate: -15deg;
  top: -192px;
  right: -160px;
}
