:root {
  --main-black: #0c1f38;
  --main-orange: #e65401;
  --main-yellow: #fef200;
  --main-blue: #a7e0d7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: var(--main-black);
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.background-left {
  background-color: var(--main-yellow);
  position: absolute;
  width: 50rem;
  height: 80rem;
  z-index: -1;
  rotate: -15deg;
  top: -10rem;
  left: -10rem;
}

.background-right {
  background-color: var(--main-blue);
  position: absolute;
  width: 80rem;
  height: 80rem;
  z-index: -2;
  rotate: -15deg;
  top: -12rem;
  right: -10rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-left: 15rem;
  color: var(--main-orange);
  font-weight: 700;
}

.welcome {
  font-size: 3rem;
}

.forms {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
